
textarea,mat-form-field {
  width: 100%;
  height: 100%;
  display: inline-block;
}

td{
  border: 2px solid rgb(201, 190, 190);
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 100px;
  left: 36%;
  top: 0;
  width: 25%;
  height: 100%;
  overflow: auto;
}

.activeModel{
  display: block;
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

p{
  cursor: pointer;
}

table ,.button-class{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 20px 10px;
  width: 98%;
}
.button-class{
  width: 5%;
}

.active-block{
  background-color: rgb(168, 243, 168);
  color: #888;
}

p{
  border-bottom: 1px solid rgb(120, 100, 100);
}

span{
  float: right;
  cursor: pointer;
}

span:hover{
  color: green;
}
p:hover{
  color: rgb(97, 97, 231);
  background-color: rgb(233, 225, 225);
}

