
<form [formGroup]="tableForm">
  <table class="table">
    <tbody formArrayName="rows">
      <tr *ngFor="let rows of tableForm.controls.rows['controls'];let i = index;"
      [formGroupName]="i">
        <ng-container formArrayName="coln">
          <ng-container *ngFor="let col of rows.controls.coln['controls'];let j = index;"
          [formGroupName]="j">
          <td [ngClass]="{'active-block': returnFormcontrolName(col).toLocaleString()==idSelected}">
            <span id="{{returnFormcontrolName(col)}}" (click)="openMenu(returnFormcontrolName(col))"><mat-icon>more_vert</mat-icon></span>
            <div >
              <mat-form-field  appearance="fill" *ngIf="j==0">
                <mat-label>Country</mat-label>
                <input type="text"
                       placeholder="select country"
                       aria-label="Number"
                       matInput
                       [formControlName]="returnFormcontrolName(col)"
                       [matAutocomplete]="auto" (keydown)="inputValueChangeCountry(col)" (change)="onChangeCountry(i)"
                       >
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptinsCountry | async"[value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field  appearance="fill" *ngIf="j==1">
                <mat-label>Capital</mat-label>
                <input type="text"
                       placeholder="select capital"
                       aria-label="Number"
                       matInput
                       [formControlName]="returnFormcontrolName(col)"

                       [matAutocomplete]="auto" (keydown)="inputValueChangeCity(col)" (change)="onChangeCity(i)">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptionsCity | async"[value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <textarea type="text"  [formControlName]="returnFormcontrolName(col)"  *ngIf="j>1">
                </textarea>
            </div>
              <div id="{{returnFormcontrolName(col)}}" class="modal" [ngClass]="{'activeModel': returnFormcontrolName(col).toLocaleString()==idSelected}">
                <div class="modal-content">
                  <p (click)="addRowWithIndex(i+1);idSelected=''">Add Row Below</p>
                  <p (click)="addRowWithIndex(i);idSelected=''" *ngIf="i>0">Add Row Above</p>
                  <p (click)="deleterow(i);idSelected=''" *ngIf="tableForm.controls.rows['controls'].length>1">Delete Row</p>
                  <p (click)="addCol(i,j);idSelected=''" *ngIf="j>1" >Add Column Left</p>
                  <p (click)="addCol(i,j+1);idSelected=''" *ngIf="j>0" >Add Column Right</p>
                  <p (click)="idSelected=''" >Close</p>
                </div>
              </div>
          </td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</form>
<div class="button-class">
  <button class="btn btn-primary" (click)="submit()">Submit</button>
</div>







